* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', Helvetica, Arial, sans-serif;
  color: #222222;
}

img {
  display: block;
  max-width: 100%;
}